body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    border: 1px solid #fff;
}
.controls {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}
